body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 20%;
}

.network-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 50px;
}

.box {
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sources {
    flex-direction: column;
}

.arrow {
    font-size: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-under-arrow {
    margin-top: 10px;
}

.text-under-arrow p {
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Table Styles */
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #4CAF50;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

/* Header Styles */
.header {
    background: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}