<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='other_style.css' ) }}">
    <title>Box Interaction</title>
</head>

<body>

    <div class="container">
        <div class="box" id="box1">
            <p><b>zkSync Era</b></p>
            <p><a>http://aaa.com</a></p>
            <p>Chain id: <b>0x12345</b></p>
        </div>
        <div class="arrow">
            <div style="height: 120px;">
                &rarr;
            </div>
            <div class="text-under-arrow">
                <p>Some text <a href="your-link.html">here</a>.</p>
            </div>
        </div>
        <div class="box" id="box2">
            <p><b>Goerli</b></p>
            <p><a>http://aaa.com</a></p>
            <p>Chain id: <b>0x1</b></p>
        </div>
    </div>

    <div class="container">
        <div class="sources">
            <div class="box" id="box1">
                <p><b>zkSync Era</b></p>
                <p><a>http://aaa.com</a></p>
                <p>Chain id: <b>0x12345</b></p>
            </div>
            <div class="box" id="box1">
                <p><b>zkSync Other Era</b></p>
                <p><a>http://aaa.com</a></p>
                <p>Chain id: <b>0x12345</b></p>
            </div>
        </div>
        <div class="arrow">
            <div style="height: 120px;">
                &rarr;
            </div>
            <div class="text-under-arrow">
                <p>Some text <a href="your-link.html">here</a>.</p>
            </div>
        </div>
        <div class="box" id="box2">
            <p><b>Ethereum</b></p>
            <p><a>http://aaa.com</a></p>
            <p>Chain id: <b>0x1</b></p>
        </div>
    </div>
</body>

</html>